.paymentContainer{
    display: grid;
    place-items: center;
    background-color: white;
    margin: 2vw;
    height:70vw;
}

.paymentForm{
    width:22%;
    height:100%;
}

.paymentForm>p{
    font:400 2vw "Roboto";
    color: rgba(0,0,0,0.753);
    border-bottom: 1px solid rgba(0,0,0,0.13);
    margin:auto;
    width:50%;
    text-align: center;
    padding: 1vw 0;
}

.paymentForm>div{
    display: flex;
    margin:2vw 0;
    align-items: center;
}

.paymentInput{
    padding:1vw 4vw;
    padding-right: 1vw;
    width: 100%;
    background-color: white;
    box-sizing: border-box;
    border:1px solid rgba(0, 0, 0, 0.267);
    border-radius: 4px;
    font: 300 0.9vw "Roboto";
    outline: none;
}

.paymentForm>div>svg{
    position: absolute;
    transform: translateX(1vw);
    font-size: 1.6vw;
    color: rgba(0, 0, 0, 0.594);
}

.paymentFormBtn{
    border:none;
    background-color: tomato;
    color:white;
    font:300 0.9vw "Roboto";
    width:100%;
    padding:0.8vw;
    cursor:pointer;
    transition: all 0.5s;
    border-radius:4px;
    outline: none;
}

.paymentFormBtn:hover{
    background-color: rgb(167, 53, 33);
}

@media screen and (max-width:600px) {
    .paymentContainer{
        height:unset;
    }
    .paymentForm{
        width:90%;
    }

    .paymentForm>p{
        font:400 8vw "Roboto";
        width:60%;
        padding: 4vw 0;
    }

    .paymentForm>div{
        margin:10vw 0;
    }

    .paymentInput{
        padding:4vw 10vw;
    }  
    
    .paymentForm>div>svg{
        font-size: 6vw;
    }
    
    .paymentFormBtn{
        font:300 4vw "Roboto";
        width:100%;
        padding:4vw;
        margin-bottom: 20vw;
    }


}