.forgotPasswordContainer{
    width:100vw;
    height:100vh;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top:0;
    left:0;
    background-color: rgb(219, 218, 218);
}

.forgotPasswordBox{
    width:25vw;
    height: 40vh;
    background-color: #fff;
    box-sizing: border-box;
    overflow: hidden;
}

.forgotPasswordBox>h2{
    text-align: center;
    color: rgba(0, 0, 0, 0.664);
    font: 400 1.3vmax "Roboto";
    padding: 1.3vmax;
    border-bottom: 1px solid rgba(0, 0, 0, 0.267);
    width:50%;
    margin:auto;
}

.forgotPasswordBox > div > button{
    background-color: tomato;
    width: 50%;
    height:3px;
    transition: all 0.5s;
    border:none;
}


.forgotPasswordForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 2vmax;
    justify-content: space-evenly;
    height: 70%;
    transition: all 0.3s;
}


.forgotPasswordForm > div{
    display: flex;
    width: 100%;
    align-items: center;
}

.forgotPasswordForm > div > input{
    padding:1vmax 4vmax;
    padding-right: 1vmax;
    width: 100%;
    box-sizing: border-box;
    border:1px solid rgba(0, 0, 0, 0.267);
    border-radius: 4px;
    font: 300 0.9vmax "Roboto";
    outline: none;
}


.forgotPasswordForm > div > svg{
    position: absolute;
    transform: translateX(1vmax);
    font-size: 1.6vmax;
    color: rgba(0, 0, 0, 0.594);
}



.forgotPasswordBtn{
    border:none;
    background-color: tomato;
    color:white;
    font:300 0.9vmax "Roboto";
    width:100%;
    padding:0.8vmax;
    cursor:pointer;
    transition: all 0.5s;
    border-radius:4px;
    outline: none;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.267) ;
}



.forgotPasswordBtn:hover{
    background-color: rgb(167, 53, 33);
}


@media screen and (max-width:600px) {
    .forgotPasswordContainer{
        background-color: white;
    }

    .forgotPasswordBox{
        width: 100vw;
        height:95vh;
    }


    .forgotPasswordForm{
        padding: 5vmax;
    }

    .forgotPasswordForm > div > input{
        padding:2.5vmax 5vmax;
        font: 300 1.7vmax "Roboto";
    }

    .forgotPasswordForm > div > svg{
        font-size: 2.8vmax;
    }


    .forgotPasswordBtn{
        font:300 1.9vmax "Roboto";
        padding:1.8vmax;
    }


}

